* {
  margin: 0;
  padding: 0;
}

/* HOME PAGE CSS */

.home {
  background-color: rgb(20, 19, 19);
  margin-bottom: 8px;
  padding: 0;
}

.subscribe-form::before {
  content: '';
  position: absolute;  
  background-color: rgb(20, 19, 19);
  height: 100%;
  width: 100%;
  z-index: 100;
  opacity: 0;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.4);
  transition: all 0.5s ease-out;
}

.subscribe-form.show::before {
  opacity: 1;
  pointer-events: auto;
}

.form-container {
  position: absolute;
  max-width: 320px;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.2);
  z-index: 101;
  background: #fff;
  padding: 25px;
  border-radius: 12px;
  opacity: 0;
  pointer-events: none;
  box-shadow: rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease;
}

.subscribe-form.show .form-container {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}

.signup-form {
  display: none;
}
.signup-form h2 {
  font-size: 25px;
  color: black;
  text-align: center;
  font-weight:bolder;
}
.form-container.active .signup-form {
  display: block;
}

.form-container.active .login-form {
  display: none;
}

.form-close {
  position: absolute;
  top: 10px;
  right: 20px;
  color: black;
  opacity: 0.7;
  cursor: pointer;
}

.login-form h2 {
  font-size: 25px;
  color: black;
  text-align: center;
  font-weight:bolder;
}

.input-box {
  position: relative;
  margin-top: 30px;
  width: 100%;
  height: 40px;
}

.input-box input {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  padding: 0 30px;
  color: #333;
  transition: all 0.2s ease;
  border-bottom: 1.5px solid #aaaaaa;
}

.input-box input:focus {
  border-color: #0ff87094;
}

.input-box i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 15px;
}

.input-box i.email,
.input-box i.password {
  left: 0;
  color: #131212;
}

.input-box input:focus~i.email,
.input-box input:focus~i.password {
  border-color: #7d2ae8;
}

.input-box i.pw-hide {
  right: 0;
  font-size: 15px;
  color: #141414;
  cursor: pointer;
}

.option-field {
  display: flex;
  margin-top: 14px;
  align-items: center;
  justify-content: space-between;
}

.form-container a {
  color: #7d2ae8;
  font-size: 13px;
}

.form-container a:hover {
  text-decoration: underline;
}

.checkbox {
  display: flex;
  column-gap: 8px;
  font-size: 12px;
  white-space: nowrap;
}

.checkbox input {
  accent-color: #1ad166;
}

.checkbox label {
  font-size: 13px;
  user-select: none;
  color: #0b0217;
  cursor: pointer;
}

.form-container .button {
  background: #13a839c7;
  margin-top: 30px;
  width: 100%;
  padding: 10px 0;
  border-radius: 10px;
}

.login-signup {
  font-size: 13px;
  text-align: center;
  margin-top: 15px;
}

.brand {
  text-decoration: none;
  color: rgb(25, 116, 96);
  font-size: 30px;
  margin-left: 20px;
}

.brand img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

#navbarContent ul li a {
  color: white;
  margin-left: 30px;
}

#navbarContent ul li a:hover {
  color: rgb(25, 116, 96);
}

#navbarContent ul li .noHover {
  /* background-color:rgba(20, 156, 40, 0.767); */
  border-color: none;
  background-color: white;

}

#navbarContent ul li .btn-theme i::before {
  color: black;
}

#navbarContent ul li .btn-theme i::after {
  color: white;
}

.bodyContent {
  color: white;
}

.villa {
  width: 600px;
  height: 300px;
  border-radius: 20px;
  float: right;
  margin-bottom: 20px;
  margin-right: 20px;
}

.input-field {
  margin-left: 8%;
}

.input-group {
  width: 100%;
}

.input-group input {
  border-radius: 0 5px 5px 0;
  border: none;
}

/* Remove the highlight when input is focused */
.input-group input:focus {
  outline: none;
  box-shadow: none;
}

/* Style for the icon inside the input group */
.input-group-text {
  background-color: white;
  border: none;
  color: #5aa066;
}


.counts article {
  color: white;
  font-size: 25px;
}

.increment {
  color: orange;
}

.label {
  font-size: 15px;
}

.logos {
  max-width: 100%;
  max-height: 40%;
}

.company-info {
  opacity: 0.2;
  transition: opacity 0.2s;
}

.company-info:hover {
  opacity: 1;
}

.company-name h3 {
  color: rgb(51, 167, 128);
  font-size: 15px;
}

.dark-mode {
  background-color: black;
  color: white;
}



/**** RESIDENCE PAGE CSS ****/
.residence {
  margin-top: 8px;
}

.residence-page {
  background-color: #fff;
  margin: 0;
  padding: 0;
}

.residence-body h4 {
  color: orange;
}

.residence-body h2 {
  color: rgb(29, 29, 54);
}

.card-title .dollar-sign {
  color: orange;
}

.card-body .residence-name {
  color: black;
  font-size: 18px;
}

.residence-cards {
  height: 100%;
}

.residence-cards .card {
  width: 12rem;
  height: 15rem;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0), 0 0 6px rgba(0, 0, 0, 0.05);
  transition: 0.3s, transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  cursor: pointer;
  border-color: #fff;
}

.residence-cards .card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(8, 8, 8, 0.767), 0 4px 8px rgba(7, 7, 7, 0.06);
}

.residence-cards .card-body p {
  color: rgb(9, 9, 41);
  width: 90%;
}

.residence-cards .carousel-inner {
  flex-wrap: nowrap;
  overflow: hidden;

}

.residence-cards .carousel-inner-3cards .carousel-item {
  flex-direction: row;
  justify-content: center;
}

.carousel-control-prev,
.carousel-control-next,
.carousel-indicators {
  color: black;
}

.carousel-column {
  width: 10rem;
  max-width: 100%;
  margin: 2.5rem 3rem;
}

.carousel-item .row {
  flex-wrap: nowrap;
  overflow: hidden;
}


/**** VALUE CSS ****/
.value {
  margin-top: 18px;
  margin-bottom: 18px;
}

.value-info {
  padding-left: 45px;
  width: 100%;
  max-width: 100%;
}

.value-info h3 {
  color: orange;
  margin-bottom: 10px;
}

.value-info h2 {
  color: rgb(26, 26, 88);
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 20px;
}

.value-info p {
  max-width: 100%;
  font-size: 15px;
  width: 480px;
  margin-bottom: 20px;
}

.value-content .value-img {
  max-width: 100%;
  width: 620px;
  height: 500px;
  margin-bottom: 20px;
  margin-left: 20px;
  float: left;
  margin-top: 100px;
  border-radius: 44% 36% 24% 44% / 0% 48% 4% 19%;
}


.accordion {
  width: 100%;
  max-width: 100%;
}

.accordion-icon,
.accordion-header {
  color: rgb(26, 26, 88);
}

.accordion-body {
  align-content: center;
}

.accordion-item,
.accordion-header {
  border: none;
  border-radius: 1.25rem;
}

.accordion-button {
  padding: 0.5rem 1rem;
  margin: 0;
}

.accordion-header strong {
  color: rgb(51, 167, 128);

}

.accordion-body {
  height: 90%;
}

.box-shadow-accordion .accordion-item {
  box-shadow: 0 4px 6px rgba(73, 73, 73, 0.822);
}

.box-shadow-accordion .accordion-item:hover {
  box-shadow: 0 8px 12px rgba(17, 17, 17, 0.945);
}


/**** CONTACT-US ****/
.contact-page {
  background-color: white;
  margin: 0;
  padding: 0;
}

.contact-info {
  max-width: 100%;
}

.contact-info h3 {
  color: orange;
  margin-bottom: 3px;
}

.contact-info h2 {
  color: rgb(26, 26, 88);
  font-size: 35px;
  font-weight: 500;
  margin-bottom: 5px;

}

.contact-info p {
  /* color:black; */
  font-size: 17px;
  font-weight: 300;
  /* width: 100%; */
  max-width: 100%;
  margin-bottom: 30px;

}

.contact-image {
  margin-top: 120px;
  float: right;
  height: 500px;
  width: 600px;
  max-width: 100%;
  background-color: #3b9e89;
  border-radius: 51% 51% 10% 10% / 41% 41% 1% 2%;
}

.cards-content {
  margin-left: 10%;
}

.cards-content .card {
  box-shadow: 0 4px 6px rgba(90, 90, 90, 0.822);
  width: 12rem;
}

.cards-content .card-title {
  color: rgb(26, 26, 88);
}

.cards-content .card-body h6 {
  color: rgb(26, 26, 88);
}

.cards-content .btn {
  border: none;
  background-color: #f3efeff3;
  color: rgba(33, 33, 204, 0.87);
  border-radius: 5px;
}

.cards-content .btn:hover {
  background-color: rgba(33, 33, 204, 0.87);
  color: white;
}

.cards-content i {
  background-color: #f3efeff3;
  color: rgba(33, 33, 204, 0.87);
  border-radius: 3px;
  padding: 3px;
  font-size: 14px;
}

.web-subscribe {
  width: 24rem;
  max-width: 100%;
  margin-left: 30%;
  border-radius: 5%;
  background-color: rgb(36, 35, 35);
}

.web-subscribe .card-body h2 {
  color: white;
}

.web-subscribe .card-body p {
  color: rgb(141, 134, 134);
}

/* .contact-footer */
.contact-footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

.contact-footer a {
  color: #fff;
  text-decoration: none;
}